<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navmenu">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_url%>">
        <%=image_tag("sm/logo2.jpg", alt:"ShopoMob",  class:"", style:"height:64px;") %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.571428596973419px;">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <%=t("lang")%> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href='<%="#{request.protocol}#{request.host_with_port}/ru"%>'>ru</a></li>
            <li><a href='<%="#{request.protocol}#{request.host_with_port}/en"%>'>en</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render :partial=>'home/nav_menu_list' %>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<script>
  $('a[href="' + location.pathname + location.hash + '"]').parent().addClass('active');
  $(window).on('hashchange', function () {
    $('ul.nav.navbar-nav > li > a').parent().removeClass('active');
    $('a[href="' + location.pathname + location.hash + '"]').parent().addClass('active');
  });
</script>