<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Спасибо за заказ!</h1>
<p>
  С уважением,<br>
Архитектурная фирма Адек.<br>
<a href="www.adec.name">www.adec.name</a><br>
<a href="www.adec.name">www.adec.name</a></p>
</body>
</html>