<!--home start-->
<div id="home">
  <div class="headerLine">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-4">
            <div>
              <a href="<%=root_url%>">
                <%#=image_tag("sm/logo2.jpg", alt:"ShopoMob",  class:"", style:"height:56px;") #%>
                <!--<%=image_tag("sm/logo3.jpg", alt:"ShopoMob",  class:"", style:"height:64px;") %>-->
              </a>
            </div>
          </div>

          <div class="col-md-8">
            <%#= render :partial=>'home/nav_menu' #%>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row wrap">
        <div class="col-md-12 gallery">
          <div class="camera_wrap camera_white_skin" id="camera_wrap_1">
            <div data-thumb="" data-src="<%=asset_url('sm/slides/blank.gif')%>">
              <div class="img-responsive camera_caption fadeFromBottom">
                <h2>
                  <%=t("slider.we_listen")%>
                </h2>
              </div>
            </div>
            <div data-thumb="" data-src="<%=asset_url('sm/slides/blank.gif')%>">
              <div class="img-responsive camera_caption fadeFromBottom">
                <h2>
                  <%=t("slider.we_discuss")%>
                </h2>
              </div>
            </div>
            <div data-thumb="" data-src="<%=asset_url('sm/slides/blank.gif')%>">
              <div class="img-responsive camera_caption fadeFromBottom">
                <h2>
                  <%=t("slider.we_develop")%>
                </h2>
              </div>
            </div>
          </div><!-- #camera_wrap_1 -->
        </div>
      </div>
    </div>
  </div>
  <section id="about" class="about-section">
    <div class="container">
      <header class="text-center">
        <h2 data-animate="fadeInDown" class="title animated fadeInDown">
          <%=t('menu.about')%>
        </h2>
      </header>
      <div class="row">
        <div data-animate="fadeInUp" class="col-lg-6 animated fadeInUp">
          <p>An sincerity so extremity he additions. Her yet <strong>there truth merit</strong>. Mrs all projecting
            favourable now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage
            strongly. Off can admiration prosperous now devonshire diminution law.</p>
          <p>Received overcame oh sensible so at an. Formed do change merely to county it. <strong>Am separate contempt</strong>
            domestic to to oh. On relation my so addition branched. Put hearing cottage she norland letters equally
            prepare too. Replied exposed savings he no viewing as up. Soon body add him hill. No father living really
            people estate if. Mistake do produce beloved demesne if am pursuit.</p>
          <p>An sincerity so extremity he additions. Her yet <strong>there truth merit</strong>. Mrs all projecting
            favourable now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage
            strongly. Off can admiration prosperous now devonshire diminution law.</p>
        </div>
        <div data-animate="fadeInUp" class="col-lg-6 animated fadeInUp">
          <div class="skill-item">
            <div class="progress-title">Ruby On Rails</div>
            <div class="progress">
              <div role="progressbar" style="width: 90%" aria-valuenow="0" aria-valuemin="60" aria-valuemax="100" class="progress-bar progress-bar-success progress-bar-skill1"></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">Javascript</div>
            <div class="progress">
              <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="60" aria-valuemax="100"
                class="progress-bar progress-bar-success progress-bar-skill2"></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">SQL</div>
            <div class="progress">
              <div role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-bar-skill3"></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">HTML</div>
            <div class="progress">
              <div role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-bar-skill4"></div>
            </div>
          </div>
          <div class="skill-item">
            <div class="progress-title">CSS</div>
            <div class="progress">
              <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-bar-skill5"></div>
            </div>
          </div>
        </div>
        <!-- <div data-animate="fadeInUp" class="col-sm-6 mx-auto mt-5 animated fadeInUp">
          <img src="img/about.jpg" alt="This is me - Fullstack Developer" class="image rounded-circle img-fluid">
        </div> -->
      </div>
    </div>
  </section>
</div>