<div class="navmenu"style="text-align: center;">
    <ul id="menu">
        <li><%=t("lang")%> <a href='<%="#{request.protocol}#{request.host_with_port}/ru"%>'>ru</a>|<a href='<%="#{request.protocol}#{request.host_with_port}/en"%>'>en</a>
        </li>
        <!--<li class="active" ><a href="<%=root_path%>#home"><%=t("menu.main")%></a></li>-->
        <!--<li><a href="<%=root_path%>#projects"><%=t("menu.projects")%></a></li>-->
        <!--<li><a href="<%=root_path%>#services"><%=t("menu.services")%></a></li>-->
        <!--<li><a href="<%=root_path%>#news"><%=t("menu.news")%></a></li>-->
        <!--<li><a href="<%=posts_path%>"><%=t("menu.posts")%></a></li>-->
        <!--<li class="last"><a href="<%=root_path%>#contact"><%=t("menu.contacts")%></a></li>-->

        <%= render :partial=>'home/nav_menu_list' %>

    </ul>
</div>

<script>
    //for navigation menu (set/unset active class)
//    if (location.pathname == "/ru") {
//        $('a[href="' + location.href + '"]').parent().addClass('active');
//    }
//    if (location.pathname == "/en") {
//        $('a[href="' + location.href + '"]').parent().addClass('active');
//    }

    $('a[href="' + location.pathname + location.hash + '"]').parent().addClass('active');
    $(window).on('hashchange', function() {
        $('ul#menu > li > a').parent().removeClass('active');
        $('a[href="' + location.pathname + location.hash + '"]').parent().addClass('active');
    });
</script>
