<li><a href="<%=root_path%>#home">
    <%=t("menu.main")%></a></li>
<!--<li><a href="<%=root_path%>#about"><%=t("menu.about")%></a></li>-->
<li><a href="<%=root_path%>#services">
    <%=t("menu.services")%></a></li>
<li><a href="<%=root_path%>#tarifs">
    <%=t("menu.tarifs")%></a></li>
<li><a href="<%=root_path%>#projects">
    <%=t("menu.projects")%></a></li>
<!-- <li><a href="<%=root_path%>#news"><%=t("menu.news")%></a></li> -->
<li><a href="<%=posts_path%>">
    <%=t("menu.posts")%></a></li>
<li class="last"><a href="<%=root_path%>#contact">
    <%=t("menu.contacts")%></a></li>
<!--li><a href="#features">Features</a></li-->