<!--contact start-->

<div id="contact">
  <div class="line5">
    <div class="container">
      <div class="row Ama">
        <div class="col-md-12">
          <h3>
            <%=t("contacts.title")%>
          </h3>
          <p>
            <%=t("contacts.sub_title")%>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="contacts">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 forma">
        <%= render :partial=>'home/order' %>
      </div>
    </div>
  </div>

  <div class="line7">
    <div class="container">
      <div class="row footer">
        <div class="col-md-12">
          <%#= render :partial=>'home/subscribe' #%>
        </div>
        <div class="soc col-md-12">
          <ul>
            <!-- <li class="soc1"><a href="<%=t('contacts.linkedin_url')%>" rel="nofollow"></a></li>
            <li class="soc2"><a href="<%=t('contacts.facebook_url')%>" rel="nofollow"></a></li>
            <li class="soc3"><a href="#" rel="nofollow"></a></li>
            <li class="soc4"><a href="#" rel="nofollow"></a></li>
            <li class="soc5"><a href="#" rel="nofollow"></a></li>
            <li class="soc6"><a href="#" rel="nofollow"></a></li>
            <li class="soc7"><a href="#" rel="nofollow"></a></li>
            <li class="soc8"><a href="#" rel="nofollow"></a></li> -->

            <!--<li class=""><a href="<%=t('contacts.facebook_url')%>" rel="nofollow"><i class="fa fa-skype"></i></a></li>-->
            <!--<li class="soc3"><a href="<%=t('contacts.twitter_url')%>" rel="nofollow"></a></li>-->
            <!--<li class="soc4"><a href="<%=t('contacts.pin_url')%>" rel="nofollow"></a></li>-->
            <!--<li class="soc5"><a href="<%=t('contacts.tpoint_url')%>" rel="nofollow"></a></li>-->
            <!--<li class="soc6"><a href="<%=t('contacts.youtube_url')%>" rel="nofollow"></a></li>-->
            <!--<li class="soc7"><a href="<%=t('contacts.google_plus_url')%>" rel="nofollow"></a></li>-->
            <!--<li class="soc8"><a href="<%=t('contacts.globus_url')%>" rel="nofollow"></a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%=render partial: 'footer' %>
</div>