<div class="row" id="about">
    <div class="span8">
        <h3>
            О компании ООО "Адек"
        </h3>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>
    </div>
    <div class="span4">
        <h3>
            Заказать
        </h3>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>
    </div>
</div>