<div class="row" id="about">
    <div class="span8">
        <h3>
            О компании ООО "Адек"
        </h3>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании о компании
            о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>

        <p>о компании о компании о компании о компании о компании о компании о компании о компании о компании </p>
    </div>
    <div class="span4">
        <h4>Наша команда</h4>
        <ul class="thumbnails_2">
            <% @teamers.each do |teamer| %>
            <li class="thumbnail_2">
                <figure class="img-indent">
                    <%=image_tag(teamer.try(:image).try(:image).try(:url), class:"img-radius", style:"height:150px")%>
                </figure>
                <p class="text-info"><%=teamer.firstname%> <%=teamer.secondname%></p>
                <%=teamer.text%>
                <!--<a href="#" class="underline">&gt;&gt;</a>-->
            </li>
            <% end %>
        </ul>
    </div>
</div>