<div class="row" id="about">
    <div class="span8">
        <h4>
            О компании ООО "Адек"
        </h4>

        <div class="articleBody clear">

            <p>В наше время сложно выбрать действительно качественные услуги по дизайну интерьера, ввиду бесконечного числа предложений последних. Поэтому удивить искушенного клиента бывает очень и очень сложно, однако компании «ADEC» это удается в течении десяти лет.</p>

            <p>И какая выгода будет для меня от дизайн-проекта интерьера ?</p>
            <h4>Выгоды:</h4>
            <ul>
                <li>облегчение работы строителей (при ремонте помещения за счет необходимой документации), что сократит сроки воплощения интерьера Вашей мечты в реальность;</li>
                <li>получение уникального дизайна интерьера, соответствующий вашим интересам, личным особенностям и предпочтениям. </li>
                <li>адаптация окружающей обстановки под Ваши интересы, потребности и стиль жизни;</li>
                <li>интерьер будет гармонично совмещать в себе удобство (функциональность) и красоту, подчеркивать Вашу индивидуальность;</li>
                <li>строителям легко будет реализовать Ваш дизайн-проект, так как мы предоставляем всю необходимую и понятную документацию;</li>
                <li>ваш дизайн уникальный, эксклюзивный, современный, красивый, стильный, функциональный, уютный, в полной мере раскрывает Вашу личность и отражает Ваш характер.</li>
            </ul>
            <br>
            <br>
            <h3>Кому и в каких случаях нужен дизайн-проект интерьера?</h3>

            <h4>1. Владельцам новостроек, новоселам </h4>

            <p>Вы приобрели новостройку в которой сплошные голые стены. По этой причине хочется сделать интерьер современным,  оригинальным, функциональным и в тоже время красивым. Учесть интересы каждого домочадца, чтобы у каждого было свое жизненное  личное пространство и место, где вся семья могла бы приятно и интересно проводить время вместе. Хочется  избавиться от стандартных планировок и не ломать голову над тем, какую мебель необходимо приобрести, учесть ее габариты, чтобы она поместилась в отведенное место и гармонично сочеталась со всем остальным (аксессуарами, другими предметами интерьера,  элементами декора) в Вашем жилище.

            </p><h4>2. Тем, кто собирается делать ремонт</h4>

            <p>Отклеиваются старые обои, затопили соседи, отваливается штукатурка, кафель в ванной и на кухне, в линолеуме появились дырки. Зрелище не из приятных. И вы решили сделать ремонт. Перед этим Вам необходим дизайн-проект, который убережет Вас от всевозможных проблем, связанных с освещением, электропроводкой, расчетом строительных и отделочных материалов, приобретением и оптимальной расстановкой новой мебели, различных аксессуаров: ковры, шторы, торшеры, вазы, статуэтки, картины, икебаны и много другое. А также гармоничным сочетанием вышеперечисленного друг с другом в цветовой гамме, стилевом направлении для придания лоска Вашего любимого жилья. Каждая деталь будет определять целостную картину (завершенный внешний вид) желаемого интерьера Вашей мечты.</p>


            <h4>3. Ценителям красивых вещей, эксклюзивности, изысканности, индивидуальности</h4>

            <p>Вы примерно представляете, какой будет ваша квартира, знаете какую мебель купить и как ее лучше расставить, какие обои и шторы будут в различных комнатах. И в этом случае необходим дизайн-проект для того, чтобы обойти подводные камни, которые потом доставят массу дискомфорта и разочарований, а ведь столько денег, нервов и времени было потрачено. Почему? Да потому, что строителям понадобятся специальные документы (см. состав дизайн-проекта) без которых сильно затрудняется ремонт, обязательно что-то забудется или сделается не так, как вы хотели.</p>


            <h4>4. Сомневающимся</h4>

            <p>В принципе все Вас устраивает, думаете, что лучше сделать косметический ремонт. Чем делать такие большие переделки, тем более сложно предугадать как будет смотреться выбранные обои или отделочные материалы на Ваших стенах. Вот в таких случаях очень помогает 3d визуализация дизайн-проекта, благодаря которой есть возможность сделать несколько видов оформления вашего жилища (с разными отделочными материалами, обоями) и выбрать наиболее подходящий.</p>



            <h4>Причины работать с компанией «ADEC»:</h4>
            <ul><li>создаем уникальные и неповторимые решения, соответствующие вашим ожиданиям, интересам;</li>
                <li>высокий профессионализм и сотрудников компании «ADEC» (все обладают высшим образованием, постоянно развиваются, любят свою творческую деятельность);</li>
                <li>большой опыт работы над проектами с различными стилевыми направлениями;</li>
                <li>имеются все необходимые лицензии (СРО), сертификаты, дипломы;</li>
                <li>мы заинтересованы в Вашем успехе и делаем все возможное для этого;</li>
                <li>специалисты компании «ADEC» предоставят вам оптимальные решения, которые можно легко согласовать и реализовать;</li>
                <li>бережем Ваши средства, время, нервы;</li>
                <li>снимаем с вас все заботы, обходим подводные камни по планированию интерьера Вашей мечты;</li>
                <li>получаем удовольствие от работы с Вами, что благотворно отражается на конечном результате - реализации Вашей мечты;</li>
                <li>учитываем желания и потребности каждого члена семьи;</li>
                <li>детально рассматриваем все Ваши требования, пожелания и предлагаем самые лучшие и оптимальные решения.</li>
            </ul>

            <br><br>
            <h4>Что мне даст этот дизайн-проект и зачем он мне нужен? Какая цель, выгода от дизайн-проекта? Для чего служит дизайн-проект интерьера?</h4>

            <p>Дизайн-проект интерьера служит для наглядного представления, визуализации конечного результата перед началом ремонта. Для исполнителей такой проект является компасом, по которому нужно держать курс до прибытия к Вашей цели.</p>

            <h4>Когда и с какой целью и делается дизайн-проект интерьера?</h4>
            <p>Перед началом ремонта, строительства. Этот документ дает исчерпывающую информацию по всем этапам строительных и отделочных работ и является полным руководством к действию для строителей и других специалистов.</p>

            <h4>Из чего состоит дизайн-проект ?</h4>
            1. 2 варианта планировочных решений (цветные эскизные планы помещения после перепланировки со схематичной &nbsp;расстановкой мебели) <br>
            2. 3-ый итоговый вариант планировочного решения (цветной эскизный план помещения после перепланировки со схематичной &nbsp;расстановкой мебели)<br>
            3. План сносимых и возводимых перегородок<br>
            4. Схема расстановки сантехнического оборудования без привязки выпусков<br>
            5. Схема открывания дверей<br>
            6. План потолков (3-ий итоговый)<br>
            7. План потолков &nbsp;(2 варианта для итогового планировочного решения)<br>
            8. Разрезы конструктивно сложных элементов потолков<br>
            9. Схема размещения осветительных приборов с привязкой<br>
            10. Схема управления освещением<br>
            11. Схема размещения слаботочных розеток с привязкой<br>
            12. План помещения после перепланировки с размерами<br>
            13. Визуализация проекта<br>
            14. План напольных покрытий<br>
            15. Раскладка плитки в с/у &nbsp;(развертка по стенам с указанием размеров и площади выбранного материала)<br>
            16. Разработка декоративных элементов (не более 2-х вариантов одного элемента)<br>
            17. Развёртка стен (в помещениях, где в этом есть необходимость)<br>
            18. План расстановки выбранной мебели<br>
            19. Спецификация дверей с указание дверных проемов, открывания и модели<br>
            20. Подбор отделочных материалов (плитка, напольные покрытия, сантехника, двери)<br>
            21. Ведомость отделки помещений<br>
            <br>




















 
            <h4>Праздники, подарки, выгодные скидки?</h4>

            <p>В предпраздничные дни действуют скидки от 5 до 25%! Количество больших скидок ограничено - успей оставить заявку на заказ услуги первым – звоните прямо сейчас +7 (918) 829 02 93 !</p>

            <p>Заказать дизайн-проект интерьера в городе Владикавказ можно в компании «ADEC» связавший любым удобным для Вас способом на странице контакты.</p>

            <p>Также Вы можете подарить подарочный сертификат своим друзьям! Звоните по телефону +7 (918) 829 02 93  или пишите на почту adec@adec.name с темой письма «Хочу подарочный сертификат другу» в теле письма указать информацию (фио, контактную информацию для связи: email, skype или номер телефона).</p>


            <p>Оставайтесь на связи и узнавайте новости компании «ADEC», а также получайте материалы на интересующие темы (для этого пройдите по ссылке и заполните анкету).</p>

            <h3>P. S.</h3>
            <p>Сделайте желаемый интерьер Вашей мечты по доступным сценам у профессионалов своего дела за 1,5 - 2 месяца! Закажите сейчас и получите выгодную скидку до 20%! Даем гарантии того, что Вы будете в восторге от полученного результата - готового дизайн-проекта!</p>  <p></p>
        </div>
    </div>
    <div class="span4">
        <h4>Наша команда</h4>
        <ul class="thumbnails_2">
            <% @teamers.each do |teamer| %>
            <li class="thumbnail_2">
                <figure class="img-indent">
                    <%=image_tag(teamer.try(:image).try(:image).try(:url), class:"img-radius", style:"height:150px")%>
                </figure>
                <p class="text-info"><%=teamer.firstname%> <%=teamer.secondname%></p>
                <%=teamer.text%>
                <!--<a href="#" class="underline">&gt;&gt;</a>-->
            </li>
            <% end %>
        </ul>
    </div>
</div>