<div class="row">
    <div class="span12">
        <!-- Nav tabs -->
<br/>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">Приложение для компании</a></li>
            <li><a href="#auto" role="tab" data-toggle="tab">Автосервисам и автодилерам</a></li>
            <li><a href="#relax" role="tab" data-toggle="tab">Отдых и развлечения</a></li>
            <li><a href="#medicine" role="tab" data-toggle="tab">Медицина и лечение</a></li>
            <li><a href="#health" role="tab" data-toggle="tab">Красота и здоровье</a></li>
            <li><a href="#sport" role="tab" data-toggle="tab">Спорт и фитнес</a></li>
            <li><a href="#services" role="tab" data-toggle="tab">Услуги</a></li>
        </ul>
    </div>
    <div class="span12">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="company">
                <h1>Приложения для iPhone, iPad и Android</h1>

                <p>Интеграция с бизнес-процессами</p>

                <p>Постоянная техническая поддержка</p>

                <p>Готовые решения - низкие цены в короткие сроки</p>

                <p>Программа лояльности и аналитика</p>

                <p>Управление приложением через Личный Кабинет</p>
            </div>
            <div class="tab-pane" id="auto">
                <h1>Для Автосервиса, Автосалона, Дилера и Автопроката</h1>

                <p>Программа лояльности</p>

                <p>Запись на ремонт, тест-драйв, мойку или прокат</p>

                <p>Адреса и маршруты проезда до всех филиалов</p>

                <p>Размещение объявлений о продаже/аренде автомобилей или запчастей.</p>

                <p>Push-уведомления пользователей о новых акциях, услугах или товарах</p>
            </div>
            <div class="tab-pane" id="relax">
                <h1>для Ночного клуба, Развлекательного центра и Боулинга</h1>

                <p>Интерактивный прайс-лист услуг</p>

                <p>Онлайн заявка на любую усулуг (бронирование билетов, столика, номера, тура и тп)</p>

                <p>Адреса и маршрут проезда до всех филиалов</p>

                <p>Push-уведомления пользователей о новых акция и услугах. Расписание мероприятий</p>

                <p>Программа лояльности и аналитика</p>
            </div>
            <div class="tab-pane" id="medicine">
                <h1>для Медцентра, Стоматологии, Больницы и Поликлиники</h1>

                <p>Онлайн запись на прием</p>

                <p>Прейскурант на услуги и процедуры</p>

                <p>Вызов врача на дом</p>

                <p>Программа лояльности и аналитика</p>

                <p>Адреса и маршрут проезда до ближайщего центра</p>
            </div>
            <div class="tab-pane" id="health">
                <h1>Для Салона красоты и Спа</h1>

                <p>Онлайн запись</p>

                <p>Интерактивный прайс-лист на услуги и процедуры</p>

                <p>Гостевая книга для посетителей</p>

                <p>Push-Уведомления пользователей о новых услугах и акциях</p>

                <p>Программа лояльности и аналитика</p>
            </div>
            <div class="tab-pane" id="sport">
                <h1>для Фитнес-клуба и Спортзала</h1>

                <p>Push-Уведомления пользователей о новых услугах и акциях</p>

                <p>Расписание занятий</p>

                <p>Прайс-лист услуг</p>

                <p>Книга отзывов и предложений</p>

                <p>Онлайн-запись на занятие</p>
            </div>
            <div class="tab-pane" id="services">
                <h1>Для Нотариуса, Адвоката, Ломбарда, Ателье, Химчистки и Прачечной</h1>

                <p>Онлайн запись на оказание услуг</p>

                <p>Интерактивный прайс-лист на услуги</p>

                <p>Гостевая книга для посетителей</p>

                <p>Push-Уведомления пользователей о новых услугах и акциях</p>

                <p>Адреса и маршруты проезда до всех филиалов</p>
            </div>
            <div class="tab-pane" id="building">

            </div>
            <div class="tab-pane" id="zoo">

            </div>
        </div>

    </div>
</div>
