<section id="contacts">
<div class="row">
    <div class="col-md-6 contact-cls">
        <!--<h3>Контакты</h3>-->

        <div>
            <span><i class="fa fa-phone"> </i> Звоните нам: <br>+7 (938) 861 67 88 <br>+7 (989) 748 03 10 <br><a href="skype:shopomob.ru?call" onclick="return skypeCheck();"><img src="assets/img/contacts_skype.png" style="width: 24px;"> shopomob.ru</a></span>
            <br>
        </div>
        <br>

        <div id="social-icon">
            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
            <!--<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>-->
            <!--<a href="#"><i class="fa fa-pinterest fa-2x"></i></a>					-->
        </div>
    </div>

    <div class="col-md-6 contact-cls">

        <div>
            <span><i class="fa fa-home"> </i> Приходите в гости: Владикавказ, Кирова 3 (напротив Осетинского театра) </span>
            <br>

            <span><i class="fa fa-envelope-o"> </i> Пишите нам: <a href="mailto:shopomob@shopomob.ru">shopomob@shopomob.ru</a></span>
            <br>
        </div>
        <br>

    </div>


    <!--<div class="col-md-7">

        <h2> Форма обратной связи</h2>
        <p>

        </p>
            <form>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Ваше имя">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Ваша электронная почта">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="3"  placeholder="Ваше сообщение"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Отправить</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>-->


</section>