<header class="p0">
    <div class="container" id="main">
        <div class="row">
            <div class="span12">
                <div class="header-block clearfix">
                    <div class="clearfix header-block-pad">
                        <h1 class="brand"><a href="index.html">
                            <!--<img src="img/adec_logo.png" width="192" height="" alt="">-->
                            <%=image_tag("home/adec_logo.png", width:"200", height:"100", class:"")%>
                        </a><span>Архитектурная фирма ООО "Адек"</span></h1>

                        <div id="subscribe-form" class="subscribe-form">
                            <%= render :partial=>'home/subscribe' %>
                        </div>
                        <!--<form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form" >-->
                            <!--<input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''"  >-->
                            <!--<a href="#" onClick="document.getElementById('search-form').submit()"></a>-->
                        <!--</form>-->
                        <span class="contacts">
                            Звоните нам:  <span>+7 (918) 829 02 93</span>
                            <br>Скайп: <span>madina.adec</span>
                            <br>Пишите нам: <a href="mailto:adec@adec.name">adec@adec.name</a>
                            <br>Приходите к нам:  <span>ул. Кирова 3</span>
                        </span>
                    </div>
                    <%= render :partial=>'home/nav' %>
                </div>
            </div>
        </div>
    </div>
    <% if (@galleries.count>0) %>
    <div class="slider" id="main">
        <div class="camera_wrap">
            <% @galleries.first.images.each do |image| %>
            <!--<div data-src="<%=asset_path(image.image_url)%>"></div>-->
            <div data-src="<%=asset_path(image.image.url)%>"></div>
            <% end %>
        </div>
    </div>
    <% end %>
</header>