<title><%#=title#%></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta name="description" content="<%=t("head.meta.description")%>">-->
<!--<meta name="keywords" content="<%=t("head.meta.keywords")%>">-->
<meta name="keywords" content="<%#= #meta_keywords %#>" />
<meta name="description" content="<%#= meta_description %#>" />
<meta name="author" content="<%=t("head.meta.author")%>">

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%#= stylesheet_link_tag    "application", media: "all" %>
<%#= javascript_include_tag  "application" %>

<%= favicon_link_tag 'favicon.ico' %>
<script>
    $(document).ready(function(){
        jQuery('.camera_wrap').camera();
    });
</script>
<%= csrf_meta_tags %>