


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row" style="background-color:white">
            <div class="col-xs-12 col-md-6">
                Звоните нам:
                <img src="<%=root_url%>assets/contacts/contacts_call.png" style="width: 24px;"> +7 (938) 861 67 88 <img src="<%=root_url%>assets/contacts/contacts_call.png" style="width: 24px;"> +7 (989) 748 03 10 <a href="skype:shopomob.ru?call" onclick="return skypeCheck();"><img src="<%=root_url%>assets/contacts/contacts_skype.png" style="width: 24px;"> shopomob.ru</a></span>
            </div>
            <!--<div class="col-xs-12 col-md-4">-->
                <!--<img src="<%=root_url%>assets/contacts/contacts_map.png" style="width: 24px;"> Приходите: Владикавказ, Кирова 3 (напротив Осетинского театра) </span>-->

            <!--</div>-->
            <div class="col-xs-12 col-md-6">
                <img src="<%=root_url%>assets/contacts/contacts_mail.png" style="width: 24px;"> Пишите нам: <a href="mailto:shopomob@shopomob.ru">shopomob@shopomob.ru</a></span>

                <a href="http://blog.shopomob.ru"><img src="<%=root_url%>assets/contacts/contacts_wordpress.png" style="width: 24px;"></a>
                <a href="http://vk.com/shopomob"><img src="<%=root_url%>assets/contacts/contacts_vk.png" style="width: 24px;"></a>
                <a href="https://www.google.ru/url?sa=t&rct=j&q=&esrc=s&source=web&cd=10&cad=rja&uact=8&ved=0CFsQFjAJ&url=https%3A%2F%2Fwww.facebook.com%2FShopMob&ei=Q3g6VLSTIOXNygPh8YC4Bw&usg=AFQjCNFlwQrVmGxEwE_4tg-dZnHTHsG1CQ&sig2=o7hFIN2aCdjGL1jF1OU_FA&bvm=bv.77161500,d.bGQ">
                    <img src="<%=root_url%>assets/contacts/contacts_facebook.png" style="width: 24px;"></a>
                <a href="http://blog.shopomob.ru"><img src="<%=root_url%>assets/contacts/contacts_twitter.png" style="width: 24px;"></a>
            </div>
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<img class="navbar-brand" src="images/shopomob.png"/>-->

            <a class="navbar-brand" href="<%=root_path%>">
                <!--<img src="<%=root_url%>assets/home/shopomob.png"  alt=""/>-->
                <%= image_tag "home/shopomob.png" %>
            </a>
            <a class="navbar-brand hidden-xs hidden-sm" href="<%=root_path%>">
                <%=t('nav.title')%> <small><%=t('nav.subtitle')%></small>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

                <!--<li class="active"><a href="#">Главная</a></li>-->
                <!--<li class="active"><a href="#about">О проекте</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Реклама в справочнике</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Аренда мобильных приложений (Android &amp; iOS)</a></li>-->
                        <!--<li><a href="#">Аренда интернет-магазинов</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">СМС-рассылка</a></li>-->
                        <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Заказная разработка (мобильных приложения и игры, интернет-магазины)</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <li class=""><a href="http://blog.shopomob.ru">Блог/Статьи</a></li>
                <li class=""><a href="#order">Заказать</a></li>
                <!--<li class=""><a href="#contacts">Контакты</a></li>-->

                <!--render_navigation :expand_all => true, :renderer => :bootstrap-->
                <!--<li>-->
                    <!--<%#= link_to "#{shops_path}?page=1", 'data-no-turbolink' => true do %>-->
                    <!--<%#=t("companies")%>-->
                    <!--<%# end %>-->
                <!--</li>-->

                <%#= render_navigation(level: 1, expand_all: true, renderer: :bootstrap ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap_topbar_list) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap_list) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap3 ) %>
                <%#= render_navigation( expand_all: true, renderer: :bootstrap2 ) %>

                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Реклама в справочнике</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Аренда мобильных приложений (Android & iOS)</a></li>-->
                        <!--<li><a href="#">Аренда интернет-магазинов</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">СМС-рассылка</a></li>-->
                        <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Заказная разработка (мобильных приложения и игры, интернет-магазины)</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>



        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


