<section class="pricing_wrapper" id="services">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="pricing_plan wow animated bounceInLeft animated" style="visibility: visible;">
                <h3>Lite<strong>Plan</strong> <small>this is where you start</small></h3>
                <div class="the_price"><span>$</span>150<small>/year</small></div>
                <div class="the_offerings">
                    <p> <strong>1</strong> Design Template </p>
                    <p> <strong>2</strong> Revisions </p>
                    <p> <strong>5</strong> HTML Pages </p>
                </div>
                <a href="#" class="btn btn-primary btn-lg">Get it Now!</a> </div>
        </div>
        <div class="col-xs-12 col-sm-6  col-md-4">
            <div class="pricing_plan special wow animated flipInY animated" style="visibility: visible;">
                <h3>Medium<strong>Plan</strong> <small>this is what you should choose</small></h3>
                <div class="the_price"><span>$</span>250<small>/year</small></div>
                <div class="the_offerings">
                    <p> <strong>1</strong> Design Template </p>
                    <p> <strong>2</strong> Revisions </p>
                    <p> <strong>5</strong> HTML Pages </p>
                </div>
                <a href="#" class="btn btn-primary btn-lg">Get it Now!</a> </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="pricing_plan wow animated bounceInRight animated" style="visibility: visible;">
                <h3>Pro<strong>Plan</strong> <small>this is what you really need</small></h3>
                <div class="the_price"><span>$</span>350<small>/year</small></div>
                <div class="the_offerings">
                    <p> <strong>1</strong> Design Template </p>
                    <p> <strong>2</strong> Revisions </p>
                    <p> <strong>5</strong> HTML Pages </p>
                </div>
                <a href="#" class="btn btn-primary btn-lg">Get it Now!</a> </div>
        </div>
    </div>
</section>f