
<section class="projects_wrapper text-center" id="about">
    <div class="container-fluid">

    <div class="row">
        <h1>"ШопоМоб" - мобильные и веб приложения для развития бизнеса</h1>
        <h2>в сфере розничной торговли и услуг</h2>
        <h3>в городе Владикавказ</h3>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--<img data-src="holder.js/300x300" alt="...">-->
                <%=image_tag("home/shopomob_logo.png", class:"")%>

                <div class="caption">
                    <h3>Мобильное приложение и/или интернет-магазин</h3>
                    <p>для продажи товаров или услуг</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">посетить сайт</a>
                        <a href="#" class="btn btn-default" role="button">подробности</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--<img data-src="holder.js/300x300" alt="...">-->
                <%=image_tag("home/shopomob_logo.png", class:"")%>

                <div class="caption">
                    <h3>Крупнейший справочник Владикавказа</h3>
                    <p>популярные мобильные плтатформы: Android и iOS (iPhone, iPad)  </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">посетить сайт</a>
                        <a href="#" class="btn btn-default" role="button">подробности</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--<img data-src="holder.js/300x300" alt="...">-->
                <%=image_tag("home/shopomob_logo.png", class:"")%>

                <div class="caption">
                    <h3>СМС-рассылка</h3>
                    <p>от 30 копеек</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">посетить сайт</a>
                        <a href="#" class="btn btn-default" role="button">подробности</a>
                    </p>
                </div>
            </div>
        </div>


    </div>
    </div>
</section>