<section class="projects_wrapper text-center" id="about">
    <div class="container-fluid">

        <div class="row">
            <h1>"ШопоМоб" - мобильные и веб приложения для развития бизнеса</h1>

            <h2>в сфере розничной торговли и услуг</h2>

            <h3>в городе Владикавказ</h3>

        </div>


        <div class="row">
            <% @services.each do |service| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">

                    <!--<img data-src="holder.js/300x300" alt="...">-->
                    <%=image_tag(service.image.image.url, class:"", style:"height:150px")%>

                    <div class="caption">
                        <h3><%=service.title%></h3>

                        <p><%=service.stext%></p>

                        <p>
                            <a href="<%=service.link%>" class="btn btn-primary" role="button">посетить сайт</a>
                            <a href="#" class="btn btn-default" role="button">подробности</a>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var heights = $(".thumbnail").map(function () {
                    return $(this).height();
                }).get(),

        maxHeight = Math.max.apply(null, heights);
        $(".thumbnail").height(maxHeight);
    });
</script>