<!--<section id="content">-->
    <!--<div class="main-content">-->

    <!--</div>-->
<!--</section>-->

<section id="content">
    <div class="sub-content">
        <div class="container">
        <%= render :partial=>'home/about' %>
        <%= render :partial=>'home/services' %>
        <%= render :partial=>'home/gallery_accordion' %>
        <%#= render :partial=>'home/what_we_do_and_news' #%>
        </div>
    </div>
</section>

<%= render :partial=>'home/posts' %>
<%= render :partial=>'home/order' %>
