<section id="content">
    <div class="sub-content" id="calculate">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Заказать</h4>
                    <!--<%#= form_for(@product) do |f| #%>-->
                    <%= form_tag("/order", method: "post", id:"", class: "contact-form", role:"") do %>
                    <% if flash[:notice] %>
                    <div class="success" style="display: none;">Заказ успешно отправлен!<strong><br>Мы свяжемся с Вам в ближайшее время.</strong> </div>
                    <% end %>
                    <fieldset>
                        <!--<label class="service">-->
                        <!--<span class="error" style="display: block;"> Выберите интересующие услуги</span>-->
                        <%#= select_tag( "services", options_for_select(@services.map{|service| [service.title, service.id]})) #%>
                        <%@services.each do |service|%>
                        <p><%= service.title%><%=check_box_tag("services[#{service.id}]", service.title)%></p>
                        <% end %>
                        <!--</label>-->

                        <!--<div class="btn-group" data-toggle="buttons-checkbox">-->
                        <!--<button type="button" class="btn btn-primary">Left</button>-->
                        <!--<button type="button" class="btn btn-primary">Middle</button>-->
                        <!--<button type="button" class="btn btn-primary">Right</button>-->
                        <!--</div>-->
                        <label class="name">
                            <%#= label_tag(:q, "Search for:") #%>
                            <%= text_field_tag(:name, "", required:"true", type: "text", placeholder: "Как к Вам обращаться?") %>
                            <!--<input type="text" value="Как к Вам обращаться?">-->
                            <span class="error" style="display: none;">*Ошибочное имя.</span> <span class="empty" style="display: block;">*Обязательно для заполнения.</span>
                        </label>
                        <label class="email">
                            <!--<input type="email" value="Ваш E-mail:">-->
                            <%= text_field_tag(:email, "", required:"true", type: "email", placeholder: "Ваш электронный адрес") %>
                            <span class="error" style="display: none;">*Ошибочный электронный адрес.</span> <span class="empty" style="display: block;">*Обязательно для заполнения.</span>
                        </label>
                        <label class="phone">
                            <!--<input type="text" value="Ваш телефон:">-->
                            <%= text_field_tag(:phone, "", required:"true", type: "number", placeholder: "Ваш телефон") %>
                            <span class="error" style="display: none;">*Ошибочный телефонный номер.</span> <span class="empty" style="display: none;">*Обязательно для заполнения.</span>
                        </label>

                        <label class="message">
                            <%#= text_area :details, rows: 2 #%>
                            <textarea name="details" placeholder="Сообщение:"></textarea>
                            <!--<span class="error" style="display: none;">*Слишком коротко.</span> <span class="empty" style="display: none;">*Обязательно для заполнения.</span>-->
                        </label>
                    </fieldset>
                    <div class="pull-right">
                        <a href="#" class="btn btn_ btn-small_" data-type="reset">Очистить</a>
                        <!--<a href="#" class="btn btn_ btn-small_" data-type="submit">Заказать</a>-->
                        <%= submit_tag("Заказать", class:"btn btn_ btn-small_") %>
                    </div>
                    <% end %>
                </div>
                <div class="col-xs-12 col-md-6">
                    <%# form_for(@order, url: "calculate") do |f| #%>
                    <%#= f.text_field :title #%>
                    <%#= f.submit #%>
                    <%# end #%>

                        <h4>Расчет стоимости</h4>
                        <%= form_tag("/calculate", method: "post", id:"", class: "contact-form", role:"") do %>
                        <% if flash[:notice] %>
                        <div class="success" style="display: none;">Заказ успешно отправлен!<strong><br>Мы свяжемся с
                            Вам в ближайшее время.</strong></div>
                        <% end %>
                        <fieldset>
                            <%#= select_tag( "services", options_for_select(@services.map{|service| [service.title,
                            service.id]})) #%>
                            <%@services.each do |service|%>
                            <label class="name">
                                <%#= label_tag(:q, "Search for:") #%>
                                <%#=check_box_tag("services[#{service.id}]", service.title)#%>
                                <%= text_field_tag("services[#{service.id}]", "", required:"true", type: "text", placeholder: "введите площадь в квадратных метрах") %>
                                <span class="empty" style="display: block;"><%=service.title%></span>
                            </label>
                            <% end %>

                            <label class="name">
                                <%#= label_tag(:q, "Search for:") #%>
                                <%= text_field_tag(:name, "", required:"true", type: "text", placeholder: "Как к Вам обращаться?") %>
                                <!--<input type="text" value="Как к Вам обращаться?">-->
                                <span class="error" style="display: none;">*Ошибочное имя.</span> <span class="empty"                                                                                                        style="display: block;">*Обязательно для заполнения.</span>
                            </label>
                            <label class="email">
                                <!--<input type="email" value="Ваш E-mail:">-->
                                <%= text_field_tag(:email, "", required:"true", type: "email", placeholder: "Ваш электронный адрес") %>
                                <span class="error" style="display: none;">*Ошибочный электронный адрес.</span> <span
                                    class="empty" style="display: block;">*Обязательно для заполнения.</span>
                            </label>
                            <label class="phone">
                                <!--<input type="text" value="Ваш телефон:">-->
                                <%= text_field_tag(:phone, "", required:"true", type: "number", placeholder: "Ваш телефон") %>
                                <span class="error" style="display: none;">*Ошибочный телефонный номер.</span> <span
                                    class="empty" style="display: block;">*Обязательно для заполнения.</span>
                            </label>

                            <label class="message">
                                <%#= text_area :details, rows: 2 #%>
                                <textarea name="details" placeholder="Сообщение:"></textarea>
                                <!--<span class="error" style="display: none;">*Слишком коротко.</span> <span class="empty" style="display: none;">*Обязательно для заполнения.</span>-->
                            </label>
                        </fieldset>
                        <div class="pull-right">
                            <a href="#" class="btn btn_ btn-small_" data-type="reset">Очистить</a>
                            <!--<a href="#" class="btn btn_ btn-small_" data-type="submit">Заказать</a>-->
                            <%= submit_tag("Рассчитать", class:"btn btn_ btn-small_") %>
                        </div>
                        <% end %>
                </div>
            </div>
        </div>
    </div>
</section>