<section id="content">
    <div class="sub-content">
        <div class="container">
            <% if (@galleries.count>0) %>
            <div class="row" id="gallery">
                <h2><a href="<%=portfolios_url%>"> Наши проекты</a><span></h2>

                <% @galleries.each do |gallery| %>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="<%=portfolio_path(gallery)%>" alt="<%=gallery.title%>">
                        <%=image_tag(gallery.images.last.image.url(:medium), style:"height:160px", alt:gallery.title, class:"img-circle")%>
                    </a>
                    <h4><a href="<%=portfolio_path(gallery)%>" alt="<%=gallery.title%>">
                        <%=gallery.title%></a></h4>
                </div>
                <% end %>

            </div>
            <% end %>
        </div>
    </div>
</section>