<section id="content">
    <div class="sub-content" id="order">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Контакты</h4>
                    <div class="map">
                        <!--<iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></div>-->
                        <!--<iframe src="https://www.google.com/maps/embed/v1/place/&q=Kirova+3,+Vladikavkaz,+Respublika+Severnaya+Osetiya-Alaniya"></iframe>-->
                        <!--<iframe src="http://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;language=ru&amp;geocode=&amp;q=Владикавказ,Кирова+3&amp;output=embed"></iframe></div>-->
                        <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=Владикавказ,Кирова+3&amp;output=embed&amp;language=ru"></iframe></div>

                        <address>
                        <strong class="clr">Архитектурная фирма Адек<br>
                            ул. Кирова 3,<br>
                            Владикавказ, 362000.</strong><br>
                        <span>Телефон:</span>+7 (918) 829 02 93<br>
                        E-mail: <a href="mailto:adec@adec.name"><u>adec@adec.name</u></a>
                    </address>

                </div>

                <div class="col-xs-12 col-md-6">
                    <h4>.</h4>
                    <div class="thumbnail">
                    <%=image_tag("stylish3/baner.gif", style:"height:353px;width:100%")%>
                    </div>
                    <%= render :partial => 'home/social_sharing' %>

                </div>
            </div>
        </div>
    </div>
</section>
