<section id="content">
    <div class="sub-content" id="order">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Контакты</h4>
                    <div class="map">
                        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=Владикавказ,Кирова+3&amp;output=embed&amp;language=ru"></iframe></div>
                        <address>
                        <strong class="clr">Архитектурная фирма Адек<br>
                            ул. Кирова 3,<br>
                            Владикавказ, 362000.</strong><br>
                        <span>Телефон:</span>+7 (918) 829 02 93<br>
                        E-mail: <a href="mailto:adec@adec.name"><u>adec@adec.name</u></a>
                    </address>
                </div>

                <div class="col-xs-12 col-md-6">
                    <h4>.</h4>
                    <div class="thumbnail">
                    <%=image_tag("stylish3/baner.gif", style:"")%>
                    </div>
                    <%= render :partial => 'home/social_sharing' %>
                </div>
            </div>
        </div>
    </div>
</section>
