<!--<p>Поделиться:-->
    <!--<button class="social_share" data-type="vk">ВКонтакте</button>-->
    <!--<button class="social_share" data-type="fb">Facebook</button>-->
    <!--<button class="social_share" data-type="tw">Twitter</button>-->
    <!--<button class="social_share" data-type="lj">LiveJournal</button>-->
    <!--<button class="social_share" data-type="ok">Одноклассники</button>-->
    <!--<button class="social_share" data-type="mr">Mail.Ru</button>-->
<!--</p>-->
<!--<div class="row">-->
        <p>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug,gplus,surfingbird"></div>
        </p>
    <!--<div class="col-xs-6 yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"></div>-->
<!--</div>-->