<section id="content">
    <div class="sub-content">
        <div class="container">
            <div class="row">
                <p><%= render_breadcrumbs :separator => ' > ' %></p>
                <h4>Портфолио: "<%=@gallery.title%>"</h4>
                <% @gallery.images.each do |image| %>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a class="fancybox thumbnail" rel="group" href="<%=image.image.url(:normal)%>">
                        <%=image_tag(image.image.url(:medium), class:"", style:"", alt:image.title)%>
                    </a>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
<script>
    $("a.fancybox").fancybox();
</script>

