<section id="content">
    <div class="sub-content">
        <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <p><%= render_breadcrumbs :separator => ' > ' %></p>
                <h4>Портфолио: "<%=@gallery.title%>"</h4>
                <p><%= @gallery.text %></p>
              </div>
              <% @gallery.images.reverse.each do |image| %>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <a class="fancybox thumbnail" rel="group" href="<%=image.image.url(:original)%>">
                        <%=image_tag(image.image.url(:medium), class:"", style:"", alt:image.title)%>
                    </a>
                </div>
              <% end %>
            </div>
          <!-- text at the left, images at the right
            <div class="row">
              <div class="col-xs-12 <%=@gallery.text ? 'col-sm-4 col-md-4 col-lg-2' : '' %>">
                <p><%= @gallery.text %></p>
              </div>
              <div class="col-xs-12 <%=@gallery.text ? 'col-sm-8 col-md-8 col-lg-10' : '' %>">
                <div class="row">
                  <% @gallery.images.reverse.each do |image| %>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2">
                      <a class="fancybox thumbnail" rel="group" href="<%=image.image.url(:normal)%>">
                          <%=image_tag(image.image.url(:medium), class:"", style:"", alt:image.title)%>
                      </a>
                  </div>
                  <% end %>
                </div>
              </div>
            </div> 
          -->
        </div>
    </div>
</section>
<script>
    $("a.fancybox").fancybox();
</script>

