<% content_for :head do %>
<title>
  <%= @page_title || t('head.meta.title') %>
</title>
<meta name="keywords" content="<%=@page_description  %>" />
<meta name="description" content="<%=@page_keywords %>" />
<meta name="author" content="<%=t('head.meta.author')%>">
<% end %>


<% if @post.present? %>
<h4>
  <%=@post.title%>
</h4>

<div class="text-block-1">
  <% if @post.images.present? && @post.images.count > 0 %>
  <% @post.images.each do |image| %>
  <%=image_tag(image.image.url, class:"img-radius", style:"width:370px;") if image.image.present? %>
  <% end %>
  <% end %>
  <div>
    <p class="lead p2">
      <%=@post.stext.try(:html_safe) %>
    </p>
    <%=@post.text.try(:html_safe)%>
    <br>
    <!--<a href="more.html" class="btn btn_">more info</a>-->
  </div>
</div>

<% else %>
<h4>
  <%=t("post.not_found")%>
</h4>
<% end %>