<!--<div class="headerLine" id="news">-->
    <!--<div id="menuF" class="fixed transbg" style="display: block;">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="logo col-md-4">-->
                    <!--<div>-->
                        <!--<a href="<%=root_url%>">-->
                            <!--<%=image_tag("sm/logo2.jpg", alt:"ShopoMob",  class:"", style:"height:56px;") %>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-8">-->
                    <!--<%#= render :partial=>'home/nav_menu' #%>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<br><br><br><br><br><br>-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navmenu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Project name</a>-->
            <a class="navbar-brand" href="<%=root_url%>">
                <%=image_tag("sm/logo2.jpg", alt:"ShopoMob",  class:"", style:"height:64px;") %>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.571428596973419px;">
            <ul class="nav navbar-nav ">
                <!--<li><%=t("lang")%> <a href='<%="#{request.protocol}#{request.host_with_port}/ru"%>'>ru</a>|<a href='<%="#{request.protocol}#{request.host_with_port}/en"%>'>en</a>-->
                <!--</li>-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#about">About</a></li>-->
                <!--<li><a href="#contact">Contact</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%=t("lang")%> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href='<%="#{request.protocol}#{request.host_with_port}/ru"%>'>ru</a></li>
                        <li><a href='<%="#{request.protocol}#{request.host_with_port}/en"%>'>en</a></li>
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="../navbar/">Default</a></li>-->
                <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
                <!--<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
                <%= render :partial=>'home/nav_menu_list' %>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br><br><br><br>

<!--<div class="headerLine" id="news">-->
<!--<div id="menuF" class="fixed transbg" style="display: block;">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="logo col-md-4">-->
<!--<div>-->
<!--<a href="<%=root_url%>">-->
<!--<%=image_tag("sm/logo2.jpg", alt:"ShopoMob",  class:"", style:"height:56px;") %>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<%#= render :partial=>'home/nav_menu' #%>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<br><br><br><br><br><br>-->
